MIKROTIK_URL=http://192.168.250.2
MIKROTIK_USER=collector
MIKROTIK_PASS=CHANGE_ME

TRAFFIC_INTERVAL=1
DDM_INTERVAL=5
HISTORY_RETENTION_HOURS=3

# Opcionales
ROUTEROS_TIMEOUT=4
DEVICE_NAME=DP-PRUEBAS
# DATABASE_PATH=/ruta/absoluta/mk_collector.sqlite3
